.widget-tip-content{
    background-color: red;
}

.widget-tip-arrow em,
.widget-tip-arrow span{
    position: absolute;
    top: 0;
    left : 0;
    width: 0;
    height: 0;
    overflow: hidden;
    border-style: solid;
    border: 6px solid transparent;
    border-color: transparent\0;
    _border-color: tomato;
    _filter: chroma(color=tomato);
}

.widget-tip .up em{
    top: 1px;
    left: 0;
    border-bottom-width: 0;
    border-top-color: red;
}

.widget-tip .right em{
    top: 0;
    left: -1px;
    border-left-width: 0;
    border-right-color: red;
}

.widget-tip .down em{
    top: -1px;
    left: 0;
    border-top-width: 0;
    border-bottom-color: red;
}

.widget-tip .left em{
    top: 0;
    left: 1px;
    border-right-width: 0;
    border-left-color: red;
}

.widget-tip .up span{
    border-bottom-width: 0;
    border-top-color: black;
}

.widget-tip .right span{
    border-left-width: 0;
    border-right-color: black;
}

.widget-tip .down span{
    border-top-width: 0;
    border-bottom-color: black;
}

.widget-tip .left span{
    border-right-width: 0;
    border-left-color: black;
}